@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rubik;
}

body {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quiz__title {
        color: white;
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
        font-weight: 800;
    }

    .quiz__intro {
        color: white;
        font-size: 24px;
        text-align: center;
        margin: 20px 10px;
        font-weight: 500;
    }

    .quiz__play {
        border: none;
        background-color: #ee5522;
        color: white;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 30px;
        transition: all 0.2s ease;

        &:hover {
            background-color: white;
            color: #ee5522;
            cursor: pointer;
        }
    }

    .quiz_container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 30px;
        border-radius: 20px;
        padding: 20px;
        width: 270px;

        &__score {
            color: white;
            background-color: #ee5522;
            border-radius: 30px;
            width: 70%;
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            padding: 5px 5px;
        }

        &__question {
            color: #ee5522;
            font-size: 20px;
            text-align: center;
            margin: 20px 10px;
            font-weight: 500;
        }

        &__input1 {
            display: none;

            &+label {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ee5522;
                border-radius: 15px;
                color: white;
                text-align: center;
                font-size: 14px;   
                padding: 5px 10px;
                margin: 5px 0px;
                width: 200px;
                height: 100px;
                transition: all 0.2s ease;
            }

            &:hover + label {
                background-color: #FFBB33;
                cursor: pointer;
            }

            &:checked + label {
                background-color: #FFBB33;
            }
        }

        &__input2 {
            display: none;

            &+label {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ee5522;
                border-radius: 15px;
                color: white;
                font-size: 14px;   
                text-align: center;
                padding: 5px 10px;
                margin: 5px 0px;
                width: 200px;
                height: 100px;
                transition: all 0.2s ease;
            }

            &:hover + label {
                background-color: #FFBB33;
                cursor: pointer;
            }

            &:checked + label {
                background-color: #FFBB33;
            }
        }

        &__input3 {
            display: none;

            &+label {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ee5522;
                border-radius: 15px;
                color: white;
                font-size: 14px;   
                text-align: center;
                padding: 5px 10px;
                margin: 5px 0px;
                width: 200px;
                height: 100px;
                transition: all 0.2s ease;
            }

            &:hover + label {
                background-color: #FFBB33;
                cursor: pointer;
            }

            &:checked + label {
                background-color: #FFBB33;
            }
        }

        &__input4 {
            display: none;

            & + label {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ee5522;
                border-radius: 15px;
                color: white;
                font-size: 14px;   
                text-align: center;
                padding: 5px 10px;
                margin: 5px 0px;
                width: 200px;
                height: 100px;
                transition: all 0.2s ease;
            }

            &:hover + label {
                background-color: #FFBB33;
                cursor: pointer;
            }

            &:checked + label {
                background-color: #FFBB33;

            }
        }

        &_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            &__validation {
                margin-right: 5px;
                border: none;
                background-color: #ee5522;
                color: white;
                font-weight: 500;
                border-radius: 30px;
                padding: 5px 10px;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #FFBB33;
                    cursor: pointer;
                }
            }

            &__next {
                margin-left: 5px;
                border: none;
                background-color: #ee5522;
                color: white;
                font-weight: 500;
                border-radius: 30px;
                padding: 5px 10px;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #FFBB33;
                    cursor: pointer;
                }
            }
        }
    }

    .quiz_modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

        &_content {
            display: flex;
            flex-direction: column;
            margin: 80px auto;
            background-color: white;
            border-radius: 20px;
            padding: 10px;
            width: 270px;

            &_close {
                align-self: flex-end;
                background-color: white;
                border: none;

                &__icon {
                    color: #ee5522;
                    transition: all 0.2s ease;

                    &:hover {
                        color: crimson;
                        cursor: pointer;
                        scale: 1.1;
                    }
                }
            }

            &__text {
                padding: 10px;
            }
        }
    }

    .quiz_leaderboard {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        width: 270px;

        &__title {
            color: #ee5522;
            font-size: 20px;
            margin-top: 10px;
        }

        &_pseudo {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: baseline;

            &__input {
                margin-right: 5px;
                border: none;
                border-bottom: solid #ee5522 1px;
            }

            &__validation {
                margin-left: 5px;
                background-color: #ee5522;
                color: white;
                border: none;
                padding: 5px 10px;
                border-radius: 30px;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #FFBB33;
                    cursor: pointer;
                }
            }
        }

        &_player1 {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &__name {
                color: #ee5522;
                margin-top: 5px;
                margin-right: 10px;
            }

            &__score {
                color: #ee5522;
                margin-top: 5px;
                margin-left: 10px;
            }
        }
        
        &_player2 {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &__name {
                color: #ee5522;
                margin-right: 10px;
            }

            &__score {
                color: #ee5522;
                margin-left: 10px;
            }
        }

        &_player3 {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &__name {
                color: #ee5522;
                margin-right: 10px;
            }

            &__score {
                color: #ee5522;
                margin-left: 10px;
            }
        }

        &_player4 {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &__name {
                color: #ee5522;
                margin-right: 10px;
            }

            &__score {
                color: #ee5522;
                margin-left: 10px;
            }
        }

        &_player5 {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            &__name {
                color: #ee5522;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            &__score {
                color: #ee5522;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }

        &__line {
            width: 200px;
            margin-top: 10px;
            border: solid #ee5522;
        }
    }
}